parameters:
    level: 10
    paths:
        - src/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: offsetAccess.nonOffsetAccessible
            path: src/AppStoreServerLibrary/ReceiptUtility.php
